<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link rel="manifest" href="manifest.json">
  <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>

  <!-- your app's js -->
  <script src="js/app.js"></script>
</head>

<body ng-app="myapp" ng-controller="mycontroller" ng-init="playMusic()">
  <ion-pane>
    <ion-header-bar class="bar-stable">
      <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Indian Festivals</h1>
    </ion-header-bar>
    <ion-content>
      <p>
        <h1 class="aligncenter">Holi</h1>
      </p>
      <p class="aligncenter">
        <img src="img/4aHoli.png" width="50%" height="10%" />
      </p>
      </a>
      <hr>

      <p class="aligncontentcenter">Holi is an ancient Hindu religious festival which has become popular with non-Hindus in many parts of South Asia, as
        well as people of other communities outside Asia.In recent years the festival has spread to parts of Europe and North
        America as a spring celebration of love, frolic, and colours.</p>
      <p class="aligncontentcenter">Holi celebrations start on the night before Holi with a Holika Dahan where people gather, perform religious rituals
        in front of the bonfire, and pray that their internal evil be destroyed the way Holika, the sister of the demon king
        Hiranyakashipu, was killed in the fire.
      </p>
      <!--<button type="button" ng-click="playAudio()">Play Diwali Music</button><br>-->
      <audio id="audio" src="media/Holi.mp3"></audio>
      <hr>

      <iframe width="100%" height="200" src="https://www.youtube.com/embed/QQ7jxoJrG2A" frameborder="0"></iframe>
      <hr>
      <br>
      <p style="text-align:center;">
        <button type="button" id="loginwelcomebutton" ng-click="gotoHomePage()">Back</button>
      </p>
      <p style="text-align:center;">
        <button id="logoutbutton" ng-click="gotoIndexPage()">Sign Out</button>
      </p>

    </ion-content>
  </ion-pane>
</body>

</html>