/* Empty. Add your own CSS if you like */

ion-content{
background-color: lightgreen;
}
.title{
    text-align: center;
    font-weight: 500;
}

#indexpara{
    margin: 5%;
}


#loginpara{
    text-align: center;
}

#btnLogin{
    float: left;
    margin-left: 8%;
    background-color: cornsilk;
    width: 20%;
    font-weight: bold;
}
#btnRegister{
    float: right;
    margin-right: 10%;
    background-color: cornsilk;
    width: 20%;
    font-weight: bold;
}

#registerregbutton,#registerbackbutton,#registerloginbutton,#loginsignbutton,#loginwelcomebutton,#logoutbutton
{
    background-color: cornsilk;
    text-decoration-color: black;
}

.aligncenter{
    text-align: center;
    align-items: center;
    align-content: center;
}

.aligncontentcenter{
    text-align: justify;
    margin: 3%;
}